.blog-sec {
    height: 280vh;
}

.text_holder p {
    color: white;
    font-size: 16px;
    line-height: 24px;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 0.25);
}

#blog1 {
    position: relative;
    width: 90vw;
    // height: 66vh;
    height: fit-content;
    left: 10vw;
    top: 144px;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    display: inline-block;
    margin-bottom: 8vh;
}

#blog1 a {
    text-decoration: none;
}

#blog2 {
    position: relative;
    width: 26vw;
    top: 25vh;
    left: 10vw;
}

#blog3 {
    position: relative;
    width: 26vw;
    top: 25vh;
    left: 12vw;
}

#blog4 {
    position: relative;
    width: 26vw;
    top: 25vh;
    left: 14vw;
}

#blog5 {
    position: relative;
    width: 26vw;
    top: 40vh;
    left: 10vw;
}

#blog1 .text_holder {
    position: relative;
    z-index: 10;
}

#blogpage-img1 {
    width: 80vw;
    // height: 66vh;
    height: 100%;
    border-radius: 8px;
    // border: 1px solid rgba(255, 255, 255, 0.8);
    position: absolute;
    z-index: 0;
    object-fit: cover;
}

.layer {
    background-image: linear-gradient(to top, rgba(0, 0, 0) -30%, rgba(0, 0, 0, 0.1));
    position: absolute;
    top: 0;
    left: 0;
    width: 89%;
    height: 100%;
    z-index: 1;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.8);
}

#blog1 .date {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    text-align: left;
    margin-left: 3.5vw;
    margin-top: 25vh;
    width: 15vw;
    display: inline-block;
}

.author {
    display: inline-block;
    font-weight: bold;

    background-image: linear-gradient(
        70.71deg,
        #8f67e2 -11.82%,
        #7d89e5 2.93%,
        #6aace9 20.96%,
        #5ec1eb 35.76%,
        #5ac9ec 45.4%,
        #51eabd 103.27%
    );

    background-clip: text;
    -webkit-text-fill-color: transparent;
    // margin-left: auto;
    // margin-right: auto;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#blog1 .author {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 35vw;
    margin-left: 3.5vw;
    margin-top: 2vh;
    margin-bottom: 8vh;

}

#blog1 h2 {
    color: white;
    font-size: 32px;
    // line-height: 48px;
    position: relative;
    width: 55vw;
    // height: 13vh;
    height: fit-content;
    left: 3.5vw;
    top: 1vh;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
    line-height: 40px;
    display: block;
}

.blog-description {
    position: relative;
    margin-left: 3.5vw;
    margin-top: 2.5vh;
    width: 70vw;
}

.blog-sec .img_holder {
    position: relative;
    width: 23vw;
    height: 23vw;
    left: 0;
    top: 0;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.text_holder {
    position: relative;
    top: 3vh;
}

.date {
    position: relative;
    width: 20vw;
    height: 30px;
    left: 0;
    top: 0;
    display: inline-block;
}

.blog-sec h2 {
    position: relative;
    width: 25vw;
    left: 0;
    top: 0;
    font-weight: bold;
    color: white;
    font-size: 1.3em;
    // line-height: 5vh;
    line-height: 36px;
    display: inline-block;
}

.blog-sec .author {
    position: relative;
    width: 22vw;
    left: 0;
    top: 1vh;
    display: inline-block;
}

#blog2 p {
    color: white;
}

@media screen and (max-width: 780px) {
    #blogpage-img1 {
        width: 90vw !important;
        left: 0;
    }
    .layer {
        width: 90vw !important;
    }
    .row {
        width: 95vw !important;
    }

    .blog-sec .grid-bg-image {
        height: 100%;
    }

    .blog-sec .star-bg-image {
        height: 100% !important;
    }

    .layer {
        width: 90vw;
    }

    #blog1 {
        left: 5vw;
        height: fit-content;
    }

    #blog1 h2 {
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        margin-top: 0;
        left: 5vw;
    }

    #blog2 .img_holder {
        left: 0;
        width: 40vw;
        height: 40vw;
    }

    #blog1 .blog-description .text_holder p {
        color: white;
        font-size: 16px;
        line-height: 24px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    #blog1 .blog-description {
        margin-left: 5vw;
        margin-top: 5vh;
        width: 60vw;
    }

    #blog1 .author {
        display: block;
        margin-left: 5vw;
        width: 50vw;
        margin-bottom: 10vw;
    }

    #blog1 .date {
        width: 15vw;
        margin-left: 5vw;
        margin-bottom: 1vw;
        margin-top: 20vh !important;
    }

    .blog-sec h2 {
        width: 38vw;
    }

    #blog2 .author {
        width: 33vw;
    }

    #blog2 {
        display: inline-block;
        left: 5vw;
    }

    #blog3 {
        left: 27vw;
        display: inline-block;
    }

    #blog3 .img_holder {
        border-radius: 8px;
        width: 40vw;
        height: 40vw;
    }

    #blog4 {
        width: 90vw;
        left: 5vw;
        top: 40vh;
    }

    #blog4 .img_holder {
        width: 90vw;
        height: 40vw;
    }

    #blog4 h2 {
        width: 70vw;
    }

    #blog4 .author {
        margin-bottom: 5vh;
    }

    #blog5 {
        width: 90vw;
        top: 45vh;
        left: 5vw;
    }

    #blog5 .img_holder {
        width: 90vw;
        height: 40vw;
    }

    #blog5 h2 {
        width: 70vw;
    }

    .blog-sec {
        height: 325vh;
    }
}

@media screen and (max-width: 430px) {
    #blog1 {
        left: 1vw;
    }

    .row {
        width: 90vw !important;
        margin-left: auto;
        margin-right: auto;
    }

    .blog-sec .star-bg-image {
        height: 300vh !important;
        width: 100%;
    }

    #blog1 .blog-description {
        display: none;
    }

    #blog1 h2 {
        margin-top: 0;
        width: 80vw;
        line-height: 35px;
    }

    .layer {
        width: 87vw !important;
    }

    #blog1 .author {
        // margin-top: 8vh !important;
        // margin-top: 15vh !important;
        margin-top: 3vh !important;
        width: 80vw;
        margin-bottom: 8vh !important;
    }

    #blog1 .date {
        width: 40vw;
        margin-left: 5vw;
        margin-bottom: 1vw;
        margin-top: 42vw;
    }

    #blog2 {
        width: 90vw;
        height: 92vh;
        left: 0;
    }

    #blog3 {
        top: 6vh;
        left: 0;
        width: 87vw;
    }

    #blog2 .img_holder {
        width: 87vw;
        height: 40vh;
        left: 0;
    }

    #blog3 .img_holder {
        width: 87vw;
        height: 40vh;
    }

    .blog-sec {
        height: 420vh;
    }

    #blog2 .date {
        position: relative;
        width: 36vw;
        left: 0;
        // top: 3vh;
    }

    #blog2 .text_holder h2 {
        left: 0;
        // top: 7vh;
        width: 86vw !important;
        line-height: 5vh;
    }

    #blog2 .author {
        left: 0;
        // top: 23vh;
        width: 80vw;
        height: 8vh;
    }

    #blog3 .date {
        position: relative;
        width: 65vw;
        top: 0vh;
        // margin-left: auto;
        left: 0;
    }

    #blog4 .date {
        width: 65vw;
    }

    
    #blog5 .date {
        width: 65vw;
    }
    
    #blog5 .author {
        width: 65vw;
    }

    #blog3 .text_holder h2 {
        left: 0;
        top: 1vh;
        width: 80vw;
    }

    #blog3 .author {
        margin-top: 0;
        margin-left: 0vw;
        width: 60vw;
    }

    #blogpage-img1 {
        width: 87vw !important;
        left: 0;
    }

    #blog4 {
        left: 0;
        top: 13vh;
    }

    #blog4 .img_holder {
        width: 87vw;
        height: 40vh;
    }

    #blog4 h2 {
        width: 80vw;
    }

    #blog4 .author {
        // margin-top: 13vh;
        width: 40vw;
    }

    #blog5 {
        left: 0;
        top: 20vh;
    }

    #blog5 .img_holder {
        width: 87vw;
        height: 40vh;
    }

    #blog5 h2 {
        width: 80vw;
    }

    #blog5 .author {
        // margin-top: 12vh;
    }
}

@media screen and (max-height: 430px) {
    #blog1 {
        height: 105vh;
    }

    #blogpage-img1 {
        height: 105vh;
    }

    #blog1 .blog-description {
        margin-top: 21vh;
    }

    #blog1 h2 {
        line-height: 32px;
    }

    #blog2 {
        top: 45vh;
    }

    #blog3 {
        top: 45vh;
    }

    #blog2 .author {
        top: 47vh;
        height: 48px;
    }

    .blog-sec {
        height: 570vh;
    }

    #blog4 {
        top: 75vh;
    }

    #blog5 {
        top: 80vh;
    }
}

@media screen and (max-width: 1000px) {
    .text_holder h2 {
        font-size: 25px;
        line-height: 35px;
    }
}

@media screen and (min-width: 1930px) {
    .blog-sec .body {
        width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    #blog1 {
        width: 1400px;
        left: 20px;
    }

    .layer {
        width: 1400px;
        // left: 20px;
    }

    #blogpage-img1 {
        width: 1400px;
        // left: 20px;
    }

    .text_holder h2 {
        width: 400px !important;
    }

    .text_holder p {
        width: 900px;
    }

    #blog2 {
        left: 20px;
        width: 420px;

    }

    #blog2 .img_holder {
        width: 420px;
        height: 420px;
    }

    #blog3 .img_holder {
        width: 420px;
        height: 420px;
    }

    #blog3 {
        left: 120px;
        width: 420px;
    }

    #blog4 {
        left: 210px;
        width: 420px;
    }

    #blog4 .img_holder {
        width: 420px;
        height: 420px;
    }

    #blog5 {
        left: 20px;
        width: 420px;
    }

    #blog5 .img_holder {
        width: 420px;
        height: 420px;
    }



}
