.mainPage {
  // padding: 0 45px;
  // max-height: 1000px !important;
  min-height: 100vh;
  flex-direction: column;
  flex-shrink: 0;
  flex-basis: auto;
  display: flex;
  font-weight: 900;
  font-size: 16px;
  font-family: "Sora", sans-serif !important;

  // max-width: 85vw;
  margin-left: auto;
  margin-right: auto;

  // background-color: #000;
  // background-image: url("../../asset/figmaElements/background-grid.png");
}

.intro-text h1 {
  position: absolute;
  width: 100%;
  // height: 20vw;
  left: 0;
  top: 32vw;
  text-align: center;

  /* Numbers */

  font-weight: bold;
  // font-size: 1.6em !important;
  // line-height: 72px;
  // line-height: normal;

  // font-size: 1.8em !important;
  font-size: 50px;
  line-height: 72px;  
  // line-height: 9vh;
  /* or 112% */

  // text-align: center;

  /* H1 */

  // font-weight: bold;
  // font-size: 40px !important;
  // line-height: 56px;

  background-image: linear-gradient(
    70.71deg,
    #8f67e2 -11.82%,
    #7d89e5 2.93%,
    #6aace9 20.96%,
    #5ec1eb 35.76%,
    #5ac9ec 45.4%,
    #51eabd 103.27%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description-text h1 {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;

  font-weight: bold;
  line-height: normal;

  // font-size: 1.8em !important;
  font-size: 50px !important;
  line-height: 72px;  
 
  background-image: linear-gradient(
    70.71deg,
    #8f67e2 -11.82%,
    #7d89e5 2.93%,
    #6aace9 20.96%,
    #5ec1eb 35.76%,
    #5ac9ec 45.4%,
    #51eabd 103.27%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}

.description-subtext {
  background-image: linear-gradient(90.64deg, #8758fe -12.21%, #b264fe 24.49%, #ff78ff 83.26%);

  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects-img-holder {
  display: inline-block;
  margin-top: 73px;
}

.projects-img-ambal {
  float: left;
  margin-right: 130px;
}

.projects-img-rhythm {
  float: right;
}

#landing-blog-img1 {
  border: 2px solid rgba(255, 255, 255, 0.4);
}

#landing-blog-img2 {
  border: 2px solid rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 1500px) {
  .intro-text h1 {
    // font-size: 1.3em !important;
  }
}

@media screen and (max-width: 1000px) {
  .intro-text h1 {
    // font-size: 1.1em !important;
    // line-height: 7vh;
  }

  .homepage-proj-second-image {
    width: 160px !important;
  }

  .homepage-projects-sec-text {
    width: 34vw !important;
  }
}

.description-text h3 {
  font-weight: bold !important;
  font-size: 24px !important;
  line-height: 40px !important;

  // text-align: center;

  color: #ffffff;
  // margin-top: 56px;
}

.landingGrid {
  margin-top: 90px;
  position: absolute;
}

.landingGridMobile {
  display: none;
}

.proj-sec-mobile {
  display: none;
}

.read_more {
  background: linear-gradient(90.64deg, #8758fe -12.21%, #b264fe 24.49%, #ff78ff 83.26%);

  background-clip: text;
  -webkit-text-fill-color: transparent;

  height: 56px;
  width: 153px;
  top: 1080px;

  /* Auto Layout */
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(90.64deg, #8758fe -12.21%, #b264fe 24.49%, #ff78ff 83.26%) border-box;

  color: transparent;
  padding: 8px 32px;
  border: 2px solid transparent;
  border-radius: 8px !important;
}

.value-proposition-sec h2 {
  // position: absolute;
  width: 547px;
  height: 56px;
  left: 447px;
  top: 104px;

  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;

  background-image: linear-gradient(
    70.71deg,
    #8f67e2 -11.82%,
    #7d89e5 2.93%,
    #6aace9 20.96%,
    #5ec1eb 35.76%,
    #5ac9ec 45.4%,
    #51eabd 103.27%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: auto;
  margin-right: auto;
}

.value-proposition-sec p {
  color: white;
}

.value-proposition-sec h4 {
  color: white;
}

#create-to-earn {
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(
        70.71deg,
        #8f67e2 -11.82%,
        #7d89e5 2.93%,
        #6aace9 20.96%,
        #5ec1eb 35.76%,
        #5ac9ec 45.4%,
        #51eabd 103.27%
      )
      border-box;

  color: white;

  border: 2px solid transparent;
  border-radius: 16px !important;
  font-family: "Sora", sans-serif !important;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 40px;
  // position: relative;
  // width: 463px;
  // height: 256px;
  width: 40vw;
  // height: 41vh;
  margin-left: 10vw;
  margin-top: 80px;
  // padding: 3vh 4vh;
}

#low-barriers-to-entry {
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(90.64deg, #8758fe -12.21%, #b264fe 24.49%, #ff78ff 83.26%) border-box;

  color: white;

  border: 2px solid transparent;
  border-radius: 16px !important;
  font-family: "Sora", sans-serif !important;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 40px;
  // position: relative;
  // width: 527px;
  // height: 256px;
  width: 40vw;
  // height: 41vh;
  margin-left: 54vw;
  margin-top: -55px;
  // padding: 3vh 4vh;
}

#open-to-all {
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(85.44deg, #66e7c1 18.52%, #96ff86 101.22%) border-box;

  color: white;

  border: 2px solid transparent;
  border-radius: 16px !important;
  font-family: "Sora", sans-serif !important;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 40px;
  // position: relative;
  // width: 560px;
  // height: 208px;
  width: 40vw;
  // height: 17vw;
  // height: 35vh;
  margin-left: 10vw;
  margin-top: -22px;
  // padding: 3vh 4vh;
}

#valuePropElement1 {
  position: relative;
  left: 70vw;
  top: -109px;
}

#valuePropElement2 {
  position: relative;
  left: 65vw;
  top: -219px;
}

#valuePropElement3 {
  position: relative;
  left: 250px;
  top: 80px;
}

.homepage-projects-sec {
  height: 700px;
  color: white;
  margin-top: 150px;
}

.homepage-projects-sec h1 {
  width: 547px;
  height: 56px;
  left: 447px;
  top: 104px;

  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;

  background-image: linear-gradient(
    70.71deg,
    #8f67e2 -11.82%,
    #7d89e5 2.93%,
    #6aace9 20.96%,
    #5ec1eb 35.76%,
    #5ac9ec 45.4%,
    #51eabd 103.27%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: auto;
  margin-right: auto;
}

.homepage-quote-sec {
  // height: 550px;
  height: fit-content;
  color: white;
}

.homepage-team-sec {
  height: 700px;
  color: white;
}

.homepage-newsletter-sec {
  height: 700px;
  color: white;
}

.homepage-news-sec {
  height: fit-content;
  color: white;
  margin-top: 200px;
  position: relative;
}

.homepage-projects-sec-text {
  width: 25vw;
  margin-left: 10vw;
  // margin-top: 128px;
  margin-top: 15vh;
  display: inline-block;
}

.homepage-projects-sec-text h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
  font-family: "Sora", sans-serif !important;
}

.homepage-projects-sec-text p {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 32px;
  font-family: "Sora", sans-serif !important;
}

#forward-arrow {
  cursor: pointer;
  width: 4vw;
  display: inline-block;
}

#backward-arrow {
  margin-left: 5vw;
  cursor: pointer;
  width: 4vw;
  display: inline-block;
}

.homepage-projects-sec-image {
  display: -webkit-inline-box;
  float: right;
  // margin-right: -150px;
  // margin-top: 90px;
  margin-top: 15vh;
}

.homepage-projects-sec-image-holder {
  width: 26vw;
  height: 23vw;

  object-fit: cover;
  display: inline;
  border-radius: 8px;
}

.homepage-proj-second-image {
  border-radius: 8px 0 0 8px;
  object-fit: cover;
  object-position: 20% 0;
  width: 300px;
}

#homepage-projects-sec-image1 {
  margin-right: 48px;
}

#homepage-projects-sec-image2 {
  opacity: 0.5;
  object-position: 20% 0;
  // width: 300px;
}

.homepage-projects-sec-showmore {
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
  width: 153px;
}

.homepage-quote-sec {
  margin-top: 200px;
}

.homepage-quote-sec h3 {
  color: white;
  width: 47vw;
  margin-left: auto;
  margin-right: auto;

  font-weight: bold;
  font-size: 24px;
  line-height: 40px;

  text-align: center;
  position: relative;
}

#homepage-quote-sec-quote {
  position: relative;
  width: 125.22px;
  height: 80px;
  left: 375px;
  top: 65px;
}

.pagination-blocks-selected {
  position: relative;
  width: 24px;
  height: 24px;

  background: linear-gradient(
    70.71deg,
    #8f67e2 -11.82%,
    #7d89e5 2.93%,
    #6aace9 20.96%,
    #5ec1eb 35.76%,
    #5ac9ec 45.4%,
    #51eabd 103.27%
  );
  border-radius: 4px;
  display: inline-block;
  margin: 14px;
}

.pagination-blocks {
  position: relative;
  width: 16px;
  height: 16px;

  border-radius: 4px;
  border: 2px solid white;
  display: inline-block;

  margin: 18px;
}

.pagination {
  margin-top: 7vh;
  width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.proj-sec-left {
  display: inline-block;
}

.homepage-quote-sec-forward-arrow {
  margin-right: 26px;
  cursor: pointer;
  width: 55px;
  height: 55px;
}

#homepage-quote-sec-forward-arrow-hover {
  margin-right: 26px;
  width: 55px;
  height: 55px;
  display: none;
}

.homepage-proj-sec-forward-arrow {
  display: inline;
}

.homepage-proj-sec-backward-arrow {
  display: inline;
  margin-left: 5vw;
}

#proj-sec-show-more-btn-hover {
  display: none;
  background: linear-gradient(90.64deg, #8758fe -12.21%, #b264fe 24.49%, #ff78ff 83.26%);
  border-radius: 8px;
}

#landing-sec-show-more-btn-hover {
  display: none;
}

#blog-sec-show-more-btn-hover {
  display: none;
  background: linear-gradient(90.64deg, #8758fe -12.21%, #b264fe 24.49%, #ff78ff 83.26%);
  border-radius: 8px;
}

#homepage-proj-sec-forward-arrow-original {
  display: inline;
}

#homepage-proj-sec-backward-arrow-original {
  display: inline;
}

#homepage-proj-sec-forward-arrow-hover {
  display: none;
}

#homepage-proj-sec-backward-arrow-hover {
  display: none;
}

#homepage-quote-sec-backward-arrow-hover {
  margin-left: 26px;
  width: 55px;
  height: 55px;
  display: none;
}

.homepage-quote-sec-backward-arrow {
  margin-left: 26px;
  cursor: pointer;
  width: 55px;
  height: 55px;
}

#homepage-quote-sec-investor {
  width: 250px;
  height: 40px;
  top: 40px;

  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  text-align: center;

  background-image: linear-gradient(
    70.71deg,
    #8f67e2 -11.82%,
    #7d89e5 2.93%,
    #6aace9 20.96%,
    #5ec1eb 35.76%,
    #5ac9ec 45.4%,
    #51eabd 103.27%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: auto;
  margin-right: auto;
}

#homepage-quote-sec-investor-desc {
  margin-top: 45px;
  text-align: center;
}

.homepage-newsletter-sec {
  margin-left: auto;
  margin-right: auto;
  width: 78vw;
  margin-top: 10vw;
  height: 29.5vw;

  background: linear-gradient(92.79deg, #170036 -41.19%, #330176 69.76%);
  // background-image: url("../../asset/figmaElements/newsletter_grid.png");
  border-radius: 16px;
}

.homepage-newsletter-sec h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  margin-top: 64px;
  position: relative;
}

.homepage-newsletter-sec p {
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  margin-top: 16px;
  text-align: center;
  position: relative;
}

.newsletter-email {
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  text-align: center;
  position: relative;
}

.newsletter-email input {
  margin-left: auto;
  margin-right: auto;

  width: 30vw;
  padding: 16px 24px;
  border-radius: 8px;
  margin-top: 24px;
}

.newsletter-email button {
  background: linear-gradient(
    70.71deg,
    #8f67e2 -11.82%,
    #7d89e5 2.93%,
    #6aace9 20.96%,
    #5ec1eb 35.76%,
    #5ac9ec 45.4%,
    #51eabd 103.27%
  );
  border-radius: 8px;
  width: 30vw;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  padding: 25px 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

#newsletter-sec-element2 {
  position: absolute;
  margin-top: 5050px;
  display: inline;
  margin-left: 1230px;
  z-index: 10;
}

#newsletter-sec-element1 {
  position: absolute;
  margin-top: 4950px;
  margin-left: 110px;
}

#newsletter-sec-element3 {
  position: absolute;
  margin-top: 5200px;
  margin-left: 520px;
}

.homepage-news-sec h2 {
  width: 300px;
  height: 56px;
  left: 447px;
  top: 104px;

  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;

  background-image: linear-gradient(
    70.71deg,
    #8f67e2 -11.82%,
    #7d89e5 2.93%,
    #6aace9 20.96%,
    #5ec1eb 35.76%,
    #5ac9ec 45.4%,
    #51eabd 103.27%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5.5vw;
}

.homepage-news-sec {
  color: white;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.homepage-news-sec h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.homepage-news-sec p {
  font-size: 16px;
  line-height: 32px;
}

.homepage-news-sec-blog1 {
  width: 37.5vw;
  display: inline-block;
}
.homepage-news-sec-blog2 {
  width: 37.5vw;
  float: right;
}
.homepage-news-sec-blog1 .img_holder {
  // background-image: url("../../asset/image/fragcolor_background.png");
  width: 37.3vw;
  height: 21.5vw;
  border-radius: 8px;
  background-position: center 50%;
}

.homepage-news-sec-blog2 .img_holder {
  // background-image: url("../../asset/image/fragcolor_blog2.png");
  width: 37.3vw;
  height: 21.5vw;
  border-radius: 8px;
  background-position: center 50%;
}

#news-readmore-btn {
  width: 10vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6vw;
  margin-bottom: 6vw;
}

// ==================================================================

#intro-video {
  width: 78vw;
  padding: 165px 0 0 0;
  margin-left: auto;
  margin-right: auto;
}

.intro-video-holder {
  // width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.value-proposition-sec {
  // background-image: url("../../asset/figmaElements/value_prop_grid.png");
  margin-top: 200px;
}

#value-prop-grid {
  position: absolute;
  width: 100vw;
  height: fit-content;
  z-index: -1;
}

.product-sec {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  margin-bottom: 85px;
}

@media screen and (max-width: 800px) {
  .product-sec {
    width: 83vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 85px;
  }
}

.value-proposition-sec h4 {
  margin-bottom: 20px !important;
  font-size: 1.6em;
}

.product-sec h4 {
  margin-bottom: 20px !important;
  font-size: 1.6em;
}

.projects {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.projects h2 {
  text-align: center;
}

#quote-text {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  color: white;
}

#project_1 {
  float: left;
  width: 100%;

  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(
        70.71deg,
        #8f67e2 -11.82%,
        #7d89e5 2.93%,
        #6aace9 20.96%,
        #5ec1eb 35.76%,
        #5ac9ec 45.4%,
        #51eabd 103.27%
      )
      border-box;

  border: 2px solid transparent;
  border-radius: 8px !important;
  color: white;
  position: absolute;
  width: 40vw;
  height: 72vh;
  left: 10vw;
  top: 20vh;
}

#project_2 {
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-right: 20px;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(
        70.71deg,
        #8f67e2 -11.82%,
        #7d89e5 2.93%,
        #6aace9 20.96%,
        #5ec1eb 35.76%,
        #5ac9ec 45.4%,
        #51eabd 103.27%
      )
      border-box;

  border: 2px solid transparent;
  border-radius: 8px !important;
  color: white;

  position: absolute;
  width: 40vw;
  height: 72vh;
  left: 54vw;
  top: 38vh;
}

@media screen and (max-width: 780px) {
  #project_2 {
    position: relative;
    left: 0;
    top: 100vw;
  }

  #project_1 {
    left: 12vw;
  }
}

.footer {
  position: absolute;
  width: 100vw;
  height: 336px;
  left: 0px;
  // top: 1888px;
  margin-top: auto;

  background: #000000;
  border: 1px solid #333333;
}

.icon-value-proposition {
  width: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .icon-value-proposition {
    width: 83px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

.proj-description {
  width: 35vw;
  height: 128px;
  left: 184px;
  top: 544px;
  height: fit-content;
}

.proj-description h3 {
  font-size: 24px;
  line-height: 40px;
  margin-top: 32px;
  margin-left: 24px;
}

.proj-description p {
  font-size: 16px;
  line-height: 32px;
  margin-top: 8px;
  margin-left: 24px;
}

#ambal-image {
  object-fit: cover;
  display: inline;

  width: 39.7vw;
  height: 41vh;
}

#pau_infinity {
  object-fit: cover;
  width: 33vw;
  height: 42vh;

  margin-left: auto;
  margin-right: auto;
}

.image_holder {
  width: 39.7vw;
  height: 42vh;
  left: 736px;
  top: 288px;

  background: #fbf0ee;
  border-radius: 8px 8px 0px 0px;
}

.projects h4 {
  margin-bottom: 20px;
  font-size: 1.6em;
}

.projects p {
  margin-bottom: 20px;
}

.projects a {
  text-decoration: none;
  color: #460d68;
}

.video-summary {
  width: 30vw;
  float: left;
  margin: 240px 0 0 100px;
}

.video-summary h2 {
  margin-bottom: 25px;
  font-size: 40px;
  line-height: 40px;
}

// footer

.contact-us {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 800px) {
  .contact-us {
    width: 85vw;
  }
}

.logo-inline {
  height: 120px;
  margin-left: 25px 0;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 15px;
}

@media screen and (max-width: 800px) {
  .logo-inline {
    height: 46px;
  }
}

.contact-us-title {
  display: inline;
  float: right;
  margin-top: 80px;

  font-size: 22px;
  color: grey;
}

@media screen and (max-width: 800px) {
  .contact-us-title {
    margin-top: 43px;
    font-size: 18px;
  }
}

.separator {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: grey;
}

.logo-social-media {
  width: 35px;
}

.email {
  width: 100%;
  margin-top: 20px;
  font-size: 22px;
  color: grey;
  margin-left: 25px;
}

.email p {
  font-size: 20px;
  font-weight: bold;
}

.social-media {
  width: 100%;
  margin-top: 20px;
  font-size: 22px;
  color: grey;
  margin-bottom: 50px;
  margin-left: 25px;
}

.social-media p {
  // display: inline-flex;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.social-media a {
  display: inline-block;
  margin: 20px;
}

@media screen and (max-width: 800px) {
  .social-media a {
    display: inline-block;
    margin: 7px;
    margin-top: 35px;
  }
}

.social-media-links {
  width: 100%;
  margin-top: 20px;
}

.footer-copyright {
  text-align: center;
  // width: 100%;
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);

  position: absolute;
  left: 39.93%;
  right: 39.86%;
  top: 78.57%;
  bottom: 11.9%;
  display: flex;
  align-items: center;
}

.homepage p {
  // font-family: "Gill Sans", sans-serif !important;
  font-family: "Sora", sans-serif !important;
}

// .value-proposition-sec h2 {
//   background: #460d68;
//   padding: 20px;
//   color: white;
//   border-radius: 5px;
//   text-align: center;
// }

.value-proposition-sec p {
  font-size: 1.2em;
  line-height: 1.8em;
}

.product-sec h2 {
  background: darkslateblue;
  padding: 20px;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.projects h2 {
  background: #111a5e;
  padding: 20px;
  color: white;
  border-radius: 5px;
}

.product-sec p {
  font-size: 1.2em;
  line-height: 1.4em;
}

#footer-logo-text {
  color: white;
  height: 140px;
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
}

.contact-us a {
  text-decoration: none;
}

.footer-logo {
  position: absolute;
  left: 11.11%;
  right: 71.81%;
  top: 21.43%;
  bottom: 64.29%;
}

.footer-menu {
  position: absolute;
  left: unset;
  right: 11.11%;
  top: 23.81%;
  bottom: 66.67%;
  color: white;
  text-align: right;
  width: 55vw;
}

.footer-menu a:hover {
  background-image: linear-gradient(
    70.71deg,
    #8f67e2 -11.82%,
    #7d89e5 2.93%,
    #6aace9 20.96%,
    #5ec1eb 35.76%,
    #5ac9ec 45.4%,
    #51eabd 103.27%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-submenu a:hover {
  background-image: linear-gradient(
    70.71deg,
    #8f67e2 -11.82%,
    #7d89e5 2.93%,
    #6aace9 20.96%,
    #5ec1eb 35.76%,
    #5ac9ec 45.4%,
    #51eabd 103.27%
  );

  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footerMenuStyle {
  font-size: 16px !important;
  line-height: 32px !important;
  font-weight: 400;
  text-decoration: none;
  // font-family: "Gill Sans", sans-serif !important;
  font-family: "Sora", sans-serif !important;
  padding: 0 20px;

  color: #ffffff;

  display: inline-block;
}

.footer-email-link a {
  text-decoration: none;
  color: white;
}

.media-icons {
  position: absolute;
  // width: 528px;
  height: 24px;
  left: 164px;
  top: 180px;
}

.icon {
  position: static;
  width: 24px;
  height: 24px;
  margin-right: 45px;
  cursor: pointer;
}

.footer-submenu {
  position: absolute;
  height: 32px;
  top: 176px;
  text-align: right;
  left: 60.49%;
  right: 11.11%;
}

.floating-social-bar {
  // display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 24px;
  position: fixed;
  width: 72px;
  height: 180px;
  left: -2px;
  // top: 540px;
  top: 49%;
  z-index: 100;
  background: #000000;
  border-radius: 0px 16px 16px 0px;
  border: 2px solid white;

  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(
        70.71deg,
        #8f67e2 -11.82%,
        #7d89e5 2.93%,
        #6aace9 20.96%,
        #5ec1eb 35.76%,
        #5ac9ec 45.4%,
        #51eabd 103.27%
      )
      border-box;

  border: 2px solid transparent;
  // border-radius: 8px !important;
}

.floating-social-bar .icon {
  margin: 11px 0;
}

@media screen and (max-width: 1100px) {
  .homepage-quote-sec {
    // height: 750px;
  }

  .description-text {
    margin-top: 45px;
  }

  .homepage-projects-sec-showmore {
    margin-top: 5vw;
  }
}

@media screen and (max-width: 1000px) {
  .footer-menu {
    // width: 40vw;
    width: 48vw !important;
    left: unset !important;
  }

  .media-icons {
    width: 60vw;
    left: 80px;
  }
}

@media screen and (max-width: 800px) {
  #footer-logo-text {
    height: 73px;
    font-size: 21px;
  }
}

@media screen and (max-width: 780px) {
  .floating-social-bar {
    bottom: -2px;
    height: 8vh;
    // width: 27vw;
    border-radius: 16px 16px 0px 0px;
    // left: 30.5vw;
    left: 29vw;
    top: 93vh !important;
    position: fixed;

    width: 42vw;
    // height: 11vh;
    height: 14vh;
    // top: 91vh !important;
    top: 88vh !important;
    padding: 2vw 3vw;
  }

  .floating-social-bar .icon {
    // margin: 0 11px;
    margin: 1vw 3vw;
    width: 5vw;

  }

  

  .footer {
    height: 75vh;
  }

  .footer-menu {
    left: 0;
    right: 0;
    top: 12vw;
    bottom: 0;
    text-align: left;
    position: relative;
    width: 53vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vw;
    text-align: center;
    width: 72vw;
  }

  .logo {
    display: block;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
  }

  .footer-logo {
    left: 33vw;
    top: 5vw;
  }

  .media-icons {
    margin-left: 15%;
    margin-top: 15vw;
    left: 0;
    top: 0;
    width: min(505px, 80vw);

    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-submenu {
    position: absolute;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50vw;
    // margin-top: 15vw;
    margin-top: 22vh;

    left: 0;
    right: 0;
    text-align: center;

  }

  .footer-copyright {
    width: 35vw;
    left: 33vw;
  }

  #terms-of-use {
    // padding-right: 16vw;
  }
}

.homepage-projects-sec-text-tablet {
  display: none;
}

@media screen and (max-width: 800px) {
  .intro-text h1 {
    // left: 13vw;
  }
}

@media screen and (max-width: 780px) {
  .landingGrid {
    width: 100vw;
  }

  .star-bg-image {
    width: 100vw;
    height: 910vh;
    width: 100%;
  }

  .intro-text h1 {
    position: absolute;
    // width: 74vw;
    // height: 50vw;
    // left: 10vw;
    top: 35vw;
    font-weight: bold;
    font-size: 48px !important;
    line-height: 56px;
  }

  .description {
    margin-top: 62vw;
    margin-left: 10vw !important;
  }

  .description-text {
    margin-bottom: 10vw;
    margin-top: 165px;
  }

  #intro-video {
    width: 80vw;
  }

  #value-prop-grid {
    // height: 135vw;
  }

  #create-to-earn {
    margin-left: 5vw;
    // height: 25vh;
    width: 60vw;
  }

  #valuePropElement2 {
    left: 75vw;
  }

  #valuePropElement3 {
    left: 3vw;
  }

  #low-barriers-to-entry {
    margin-left: 30vw;
    margin-top: -2vw;
    // height: 25vh;
    width: 65vw;
  }

  #open-to-all {
    margin-left: 5vw;
    margin-top: 5vw;
    // height: 23vh;
    width: 65vw;
  }

  #valuePropElement1 {
    left: 83vw;
  }

  .homepage-projects-sec-text {
    display: none;
  }

  .homepage-projects-sec-text-tablet {
    width: 40vw;
    // margin-left: 5vw !important;
    margin-top: 6vw;
    display: inline-block;
    margin-left: 6vw;
    display: inline-grid;
  }

  .homepage-projects-sec-text-tablet h2 {
    font-size: 32px;
    line-height: 48px;
    font-weight: bold;
    font-family: "Sora", sans-serif !important;
  }

  .homepage-projects-sec-text-tablet p {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 32px;
    font-family: "Sora", sans-serif !important;
  }

  #homepage-quote-sec-quote {
    left: 23vw;
  }

  .homepage-quote-sec h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    width: 60vw;
  }

  .pagination {
    // width: 22vw;
  }

  .pagination-blocks-selected {
    // margin: 0.8vw;
  }

  .homepage-newsletter-sec {
    height: 56vw;
    width: 90vw;
  }

  #newsletter-grid-homepage {
    width: 90vw;
  }

  .homepage-newsletter-sec p {
    width: 56vw;
  }

  #newsletter-sec-element1 {
    margin-top: 645vw;
    margin-left: 2vw;
  }

  #newsletter-sec-element2 {
    margin-top: 660vw;
    margin-left: 88vw;
  }

  #newsletter-sec-element3 {
    margin-top: 675vw;
    margin-left: 20vw;
  }

  .homepage-projects-sec h1 {
    width: 80vw;
  }

  .value-proposition-sec h2 {
    width: 80vw;
    height: fit-content;
  }

  .homepage-news-sec-blog1 {
    width: 80vw;
  }

  .homepage-news-sec-blog2 {
    width: 80vw;
  }

  .homepage-news-sec-blog1 .img_holder {
    width: 80vw;
    height: 40vw;
    object-fit: cover;
  }

  .homepage-news-sec-blog2 .img_holder {
    width: 80vw;
    height: 40vw;
    object-fit: cover;
    margin-top: 10vw;
  }

  .homepage-news-sec {
    height: 200vw;
  }

  #news-readmore-btn {
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 88vw;
  }

  .homepage-projects-sec-image-holder {
    width: 40vw;
    height: 40vw;
  }

  .homepage-proj-second-image {
    object-position: 50%;
    width: 40vw !important;
    height: 40vw;
    border-radius: 8px;
  }

  #homepage-projects-sec-image1 {
    margin-right: 5vw;
  }

  #homepage-projects-sec-image2 {
    opacity: 1;
  }

  .homepage-projects-sec-image {
    float: none;
    margin-left: 6vw;
    margin-top: 3vh;
  }

  .homepage-projects-sec-showmore {
    margin-top: 5vw;
  }

  .homepage-quote-sec {
    margin-top: 50vw;
    // height: 550px;
  }

  .proj-sec-arrow-button-sec {
    display: none !important;
  }
}

@media screen and (max-width: 430px) {
  .footer {
    height: 225vw;
  
  }

  .homepage-projects-sec-image {
    display: none;
  }

  .homepage-projects-sec-text-tablet {
    display: none;
  }

  .proj-sec-mobile {
    display: inline-flex;
    overflow: scroll;
    width: 100vw;
  }

  .proj-sec-mobile-proj1 {
    display: inline-block;
    margin-left: 5vw;
    margin-top: 5vw;
  }

  .proj-sec-mobile-proj2 {
    display: inline-block;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
  }

  .proj-sec-mobile .homepage-projects-sec-image-holder {
    width: 70vw !important;
    height: 67vw;
    display: block;
  }

  .proj-sec-mobile .homepage-projects-sec-text-tablet {
    width: 70vw !important;
    display: block;
    float: left;
    margin-left: 0;
  }

  .proj-sec-mobile .homepage-projects-sec-text-tablet p {
    width: 70vw !important;
  }

  .homepage-proj-sec-text-mobile {
    overflow: scroll;
    width: 100vw;
    display: inline-flex;
  }

  .homepage-quote-sec {
    // height: 700px;
  }

  .landingGridMobile {
    display: inline;
    position: absolute;
    margin-top: 90px;
    z-index: -1;
    width: 100%;
    // opacity: 0.8;
  }

  .landingGrid {
    display: none;
  }

  .homepage-quote-sec h3 {
    width: 85vw;
    font-size: 16px;
    line-height: 32px;
  }

  .homepage-news-sec h3 {
    font-size: 16px;
    line-height: 32px;
  }

  .footer-logo {
    // left: 19vw;
    top: 15vw;
    left: initial;
    right: initial;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
  }

  .footer-menu {
    top: 30vw;
    width: 100vw;
    text-align: center;
  }

  .footerMenuStyle {
    margin-bottom: 5vw;
    display: block;
  }

  .media-icons {
    // margin-top: 64vw;
    margin-top: 32vw;
    // margin-left: 0;
    width: 97vw;

  }

  .homepage-news-sec h2 {
    width: 80vw;
    height: fit-content;
  }

  .icon {
    margin: 3vw 9vw;
    width: 5vw;
  }

  .footer-submenu {
    width: 100vw;
    margin-top: 75vw;
  }

  .footer-submenu {
    // margin-top: 75vw;
    top: 35%;
  }

  .footer-submenu #terms-of-use {
    width: 100vw;
    text-align: center;
    padding: 0;
  }

  .footer-submenu #privacy-policy {
    width: 100vw;
    text-align: center;
    padding: 0;
  }

  .footer-copyright {
    width: 100vw;
    left: 0;
  }

  .footer-copyright p {
    margin-left: auto;
    margin-right: auto;
  }

  #valuePropElement1 {
    display: none;
  }

  #valuePropElement2 {
    display: none;
  }
  #valuePropElement3 {
    display: none;
  }

  .value-proposition-sec h2 {
    width: 80vw;
    height: 30vw;
    font-size: 32px;
    line-height: 48px;
  }

  #create-to-earn {
    width: 90vw;
    // height: 45vh;
    padding: 5vw;
    margin-top: 30px;
  }

  #low-barriers-to-entry {
    margin-left: 5vw;
    margin-top: 5vw;
    width: 90vw;
    // height: 48vh;
    padding: 5vw;
  }

  #open-to-all {
    width: 90vw;
    // height: 42vh;
    padding: 5vw;
  }

  .homepage-projects-sec h1 {
    width: 80vw;
    height: fit-content;
    font-size: 32px;
    line-height: 48px;
  }

  #newsletter-sec-element1 {
    display: none;
  }

  #newsletter-sec-element2 {
    display: none;
  }

  #newsletter-sec-element3 {
    display: none;
  }

  .homepage-projects-sec-text-tablet h2 {
    font-size: 25px;
    line-height: 35px;
  }

  .homepage-projects-sec-text-tablet p {
    font-size: 16px;
    line-height: 26px;
  }

  .pagination {
    width: 255px;
    margin-top: 10vh;
  }

  #intro-video {
    display: none;
  }

  .intro-video-holder {
    margin-bottom: 15vh;
  }

  .homepage-quote-sec-forward-arrow {
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }

  #homepage-quote-sec-forward-arrow-hover {
    margin-right: 10px;
    width: 40px;
    height: 40px;
  }

  #homepage-quote-sec-backward-arrow-hover {
    margin-left: 10px;
    width: 40px;
    height: 40px;
  }

  .pagination-blocks {
    margin: 10px;
  }

  .pagination-blocks-selected {
    margin: 7px;
  }

  .homepage-quote-sec-backward-arrow {
    margin-left: 10px;
    width: 40px;
    height: 40px;
  }

  .homepage-newsletter-sec {
    height: 118vw;
  }

  .homepage-news-sec {
    height: 200vh;
  }

  #news-readmore-btn {
    width: 40vw;
    margin-top: 77vh;
  }

  .intro-text h1 {
    // height: 88vh;
    top: 268px;
    // width: 82vw;
    font-size: 32px !important;
    line-height: 48px !important;
  }

  .description-text h3 {
    // margin-top: 85vw;
    margin-top: 30vw;
    font-size: 16px !important;
    line-height: 32px !important;
  }

  #intro-video {
    padding: 30vw 0;
  }

  .value-proposition-sec {
    margin-top: 10vw;
  }
}

@media screen and (max-height: 430px) {
  .footer-menu {
    width: 59vw;
  }

  .floating-social-bar {
    width: 29vw;
    height: 18vh;
    top: 83vh !important;
  }

  .team-page-member-sec {
    height: 60vw !important;
  }

  #technology-intro-text {
    line-height: 24px !important;
  }

  #technology-intro-text {
    margin-top: 35vh !important;
  }

  .technology-sec h2 {
    height: 27vh !important;
  }

  .description {
    margin-top: 67vw;
  }

  // #create-to-earn {
  //   height: 68vh;
  // }

  // #low-barriers-to-entry {
  //   height: 68vh;
  // }

  // #open-to-all {
  //   height: 63vh;
  // }
}

@media screen and (min-width: 1930px) {
  .landing-page-sec {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  #intro-video {
    width: 1440px;
  }

  #value-prop-grid {
    width: 1440px;
  }

  #create-to-earn {
    width: 800px;
    margin-left: 20px;
    // height: 25vh;
  }

  #valuePropElement2 {
    left: 1200px;
  }

  #low-barriers-to-entry {
    width: 800px;
    margin-left: 600px;
    // height: 25vh;
  }

  #valuePropElement3 {
    left: 250px;
  }

  #open-to-all {
    width: 800px;
    margin-left: 20px;
    // height: 25vh;
    margin-top: 20px;
  }

  #valuePropElement1 {
    left: 1200px;
  }

  .homepage-projects-sec-text {
    width: 500px;
  }

  .homepage-projects-sec-image-holder {
    width: 300px;
    height: 300px;
  }

  #value-prop-grid {
    height: 90vh;
  }

  .homepage-quote-sec h3 {
    width: 800px;
  }

  .homepage-news-sec {
    width: 1440px;
  }

  .homepage-news-sec-blog1 {
    width: 650px;
  }

  .homepage-news-sec-blog1 .img_holder {
    width: 650px;
    object-fit: cover;
  }

  .homepage-news-sec-blog2 {
    width: 650px;
  }

  .homepage-news-sec-blog2 .img_holder {
    width: 650px;
    object-fit: cover;
  }

  .footer-sec {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    // position: relative;
  }

  .footer-logo {
    position: relative;
    left: 20px;
    top: 50px;
  }

  .footer-menu {
    position: relative;
  }

  .media-icons {
    position: relative;
    left: 20px;
    top: 120px;
  }
}
