#project_element_1 {
    left: 75.66%;
    right: 15.63%;
    top: 10.94%;
    bottom: 82.85%;
    position: absolute;
}

#project_element_2 {
    position: absolute;
    left: 55%;
    right: 39.62%;
    top: 13.21%;
    bottom: 80.58%;
}

#project_element_3 {
    position: absolute;
    // width: 80.15px;
    // height: 75.89px;
    left: 248.15px;
    top: 773.73px;
}

#project_element_4 {
    position: absolute;
    left: 465px;
    top: 683px;
    border-radius: 0px;

}

.body {
    display: inline-block;
    // display: inline;
  }
  

  .projects-sec {
      height: 900px;
  }