#project_element_1 {
  left: 75.66%;
  right: 15.63%;
  top: 10.94%;
  bottom: 82.85%;
  position: absolute;
  // width: 200px;
  width: auto;
}

#project_element_2 {
  position: absolute;
  left: 55%;
  right: 39.62%;
  top: 13.21%;
  bottom: 80.58%;
}

#project_element_3 {
  position: absolute;
  left: 18vw;
  top: 100vh;
}

#project_element_4 {
  position: absolute;
  left: 34vw;
  top: 85vh;
  border-radius: 0px;
}

.body {
  display: inline-block;
  // display: inline;
}

.projects-sec {
  height: 120vh;
}

@media screen and (max-width: 1300px) {
  #project_1 {
    // height: 78vh;
    height: fit-content;

  }

  #project_2 {
    // height: 84vh;
    height: fit-content;
  }
}

@media screen and (max-width: 780px) {
  .projects-sec {
    height: 180vh;
    // height: fit-content;
  }

  #project_element_2 {
    position: absolute;
    left: 0%;
    right: 39.62%;
    top: 43.21%;
    bottom: 80.58%;
  }

  #project_element_3 {
    position: absolute;
    left: 4vw;
    top: 180vw;
  }

  #ambal-image {
    width: 69.5vw;
  }

  #project_1 {
    width: 70vw;
  }

  .proj-description {
    width: 65vw;
    height: fit-content;
  }

  #project_2 {
    width: 70vw;
    // top: 125vh;
    top: 90vh;
  }

  .image_holder {
    width: 69.5vw;
  }

  #pau_infinity {
    width: 55vw;
  }
}

@media screen and (max-width: 430px) {
  #project_element_1 {
    display: none;
  }

  #project_element_2 {
    display: none;
  }

  #project_element_3 {
    display: none;
  }

  #project_element_4 {
    display: none;
  }

  .projects-sec .star-bg-image {
    height: 250vh !important;
    width: 100%;
  }

  .projects-sec .grid-bg-image {
    height: 250vh !important;
    width: 100%;
    object-fit: cover;
  }

  #project_1 {
    left: 5vw;
    width: 90vw;
    // height: 80vh;
    height: fit-content;
  }

  #ambal-image {
    width: 89vw;
    border-radius: 8px 8px 0px 0px;
  }

  .proj-description {
    width: 85vw;
    height: fit-content;
  }

  #project_2 {
    left: 5vw;
    width: 90vw;
    // height: 80vh;
    position: absolute;
    top: 120vh;
    height: fit-content;
  }

  #pau_infinity {
    width: 89vw;
    border-radius: 8px 8px 0px 0px;
  }

  .image_holder {
    width: 89vw;
  }
}

@media screen and (max-width: 430px) {
   .projects-sec {
    height: 230vh;
  }
}

@media screen and (max-height: 430px) {
  #project_1 {
    // height: 100vh;
    top: 30vh;
    height: fit-content;

  }

  #project_2 {
    top: 110vh;
    // height: 100vh;
    height: fit-content;
  }

  .projects-sec {
    height: 230vh;
  }

  #project_element_4 {
    display: none;
  }
}

@media screen and (min-width: 1930px) {
  .projects {
    width: 1440px;
  }

  .proj-description {
    width: 500px;
  }

  #project_1 {
    width: 550px;
    position: relative;
    left: 170px;
  }

  #ambal-image {
    width: 549px;
  }

  #project_2 {
    width: 550px;
    position: relative;
    left: 240px;
  }

  .image_holder {
    width: 549px;
  }

  #pau_infinity {
    width: 450px;
  }
}
