.homePageMainPage {
    // padding: 0 45px;
    // max-height: 1000px !important;
    min-height: 100vh;
    flex-direction: column;
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
    font-weight: 900;
    font-size: 16px;
    font-family: "Sora", sans-serif !important;

    // max-width: 85vw;
    margin-left: auto;
    margin-right: auto;

    background-color: #000;
    // background-image: url('../../asset/figmaElements/star_background.png');
}

.triangle-bg-image {
    position: absolute;
    width: 100%;

    height: auto;
    object-fit: contain;
    object-position: top;
}

.star-bg-image {
    position: fixed;
    z-index: -1;
    object-fit: cover;
    width: 100%;
}

.team-page .star-bg-image {
    height: 210vw !important;
    width: 100%;
    object-fit: cover;
}

.grid-bg-image {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

.projects-sec .star-bg-image {
    height: 120vh !important;
    width: 100%;
    object-fit: cover;
    top: -20vh;
    position: fixed;
}

.projects-sec .grid-bg-image {
    position: fixed;
    z-index: -1;
    height: 120vh;
    width: 100vw;
    // -o-object-fit: cover;
    object-fit: cover;
    top: -20vh;
}

.technology-sec h2 {
    width: 100%;
    // height: 18vh;
    height: fit-content;
    // padding-bottom: 5vh;
    // top: 5vw;

    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
    text-align: center;

    background-image: linear-gradient(
        70.71deg,
        #8f67e2 -11.82%,
        #7d89e5 2.93%,
        #6aace9 20.96%,
        #5ec1eb 35.76%,
        #5ac9ec 45.4%,
        #51eabd 103.27%
    );

    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 100px;
}

@media screen and (max-width: 1100px) {
    .technology-sec h2 {
        width: 55vw;
        height: fit-content;
        top: 12vw;   
        padding-bottom: 5vh; 
        margin-top: 150px;
    }
}
.technology-sec .star-bg-image {
    height: 100% !important;
    width: 100%;
    object-fit: cover;
}

.blog-sec .star-bg-image {
    height: 100% !important;
    width: 100%;
    object-fit: cover;
    position: fixed;
}

.blog-sec .grid-bg-image {
    position: fixed;
    z-index: -1;
    height: 100vw;
    width: 100vw;
    object-fit: cover;
}

.careers-page-sec .star-bg-image {
    height: 100% !important;
    width: 100%;
    object-fit: cover;
}

.careers-page-sec .grid-bg-image {
    height: 120vw !important;
    width: 100%;
    object-fit: cover;
}

.hasten {
    height: 600px;
    // margin-top: 2vh;
    position: relative;
}

.chainblocks {
    height: 600px;
}

.clamor {
    height: 600px;
}

// .ambal .text {
//     position: relative;
//     width: 36vw;
//     height: 30vh;
//     left: 11.5vw;
//     top: 10.5vh;
//     display: inline-block;
// }

.hasten .text {
    position: absolute;
    width: 36vw;
    height: 30vh;
    left: 11.5vw;
    top: 10.5vh;
}


// .ambal .image {
//     // float: right;
//     position: relative;
//     left: 53%;
//     // right: -18.68%;
//     top: 16.25%;
//     bottom: 68.17%;
//     display: inline-block;
// }

.sound-game-image {
    top: 16.25%;
    bottom: 68.17%;
    float: left; 
}

.hasten .image {
    // float: right;
    position: absolute;
    left: 51%;
    // right: -18.68%;
    top: 16.25%;
    bottom: 68.17%;
}

.ambal img {
    margin-left: 5vw;
    width: 400px;
}

.sound-game img {
    width: 400px;
}

.ambal .text {
    // top: 20vh;
    top: 16.25%;
    bottom: 68.17%;
}

.sound-game .text {
    top: 16.25% !important;
    bottom: 68.17%;
}

.ambal .text {
    width: 32vw;
}

.hasten svg {
    // width: 47%;
}

.project-sec h2 {
    width: 100%;
    height: fit-content;
    // padding-bottom: 5vh;
    top: 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    background-image: linear-gradient(70.71deg, #8f67e2 -11.82%, #7d89e5 2.93%, #6aace9 20.96%, #5ec1eb 35.76%, #5ac9ec 45.4%, #51eabd 103.27%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 250px;
}

.ambal {
    width: 100%;
    height: 600px;
}

.sound-game {
    height: 600px;
}

// .ambal h1{
//     font-style: normal;
//     font-weight: bold;
//     font-size: 40px !important;
//     line-height: 56px;
//     background-size: 100%;
//     width: 150px;

//     background-image: linear-gradient(90.64deg, #8758fe -12.21%, #b264fe 24.49%, #ff78ff 83.26%);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
// }

// .sound-game h1{
//     font-style: normal;
//     font-weight: bold;
//     font-size: 40px !important;
//     line-height: 56px;
//     background-size: 100%;
//     // width: 150px;

//     background: linear-gradient(
//         70.71deg,
//         #8f67e2 -11.82%,
//         #7d89e5 2.93%,
//         #6aace9 20.96%,
//         #5ec1eb 35.76%,
//         #5ac9ec 45.4%,
//         #51eabd 103.27%
//     );
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
// }

.hasten h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px !important;
    line-height: 56px;
    background-size: 100%;
    width: fit-content;

    background-image: linear-gradient(90.64deg, #8758fe -12.21%, #b264fe 24.49%, #ff78ff 83.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.chainblocks h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px !important;
    line-height: 56px;
    background-size: 100%;
    // width: 150px;

    background: linear-gradient(
        70.71deg,
        #8f67e2 -11.82%,
        #7d89e5 2.93%,
        #6aace9 20.96%,
        #5ec1eb 35.76%,
        #5ac9ec 45.4%,
        #51eabd 103.27%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.clamor h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px !important;
    line-height: 56px;
    background-size: 100%;
    width: 180px;
    background: linear-gradient(85.44deg, #66e7c1 18.52%, #96ff86 101.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hasten h3 {
    color: white;
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
}

.hasten p {
    color: white;
    font-size: 16px;
    line-height: 32px;
}

// .ambal p {
//     color: white;
//     font-size: 16px;
//     line-height: 32px;
// }

.github-btn {
    // position: absolute;
    // top: 350px;
    margin-top: 10%;
}

.github-btn-mobile{
    margin-top: 10%;
    width: 90vw !important;
    display: none;
}

.chainblocks-image {
    // position: absolute;
    // width: 382px;
    // height: 364.95px;
    // left: 177px;
    // top: 783px;
    position: relative;
    width: 29vw;
    height: 30vw;
    left: 12vw;
    // top: 0vh;
    display: inline;

    // top: 16.25%;
    // bottom: 68.17%;
}

.chainblocks-image img {
    display: inline-block;
}

.chainblocks h1 {
    color: white;
}

.chainblocks p {
    color: white;
    font-size: 16px;
    line-height: 32px;
}

.chainblocks h3 {
    color: white;
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
}

.chainblocks .text {
    position: relative;
    // width: 544px;
    // height: 264px;
    // left: 25vw;
    margin-top: 0;
    display: inline-block;
    // top: 8vw;

    width: 40vw;
    height: 30vh;
    left: 23.5vw;

    top: 9.5vh;
    // top: 20vh;
    // top: 100px;
}

.clamor h1 {
    color: white;
}

.clamor p {
    color: white;
    font-size: 16px;
    line-height: 32px;
}

.clamor h3 {
    color: white;
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
}

.clamor .text {
    // position: relative;
    // width: 507px;
    // height: 232px;
    // left: 160px;
    // top: 66px;
    position: relative;
    width: 507px;
    height: 232px;
    left: 160px;
    top: 66px;
    display: inline-block;

    width: 36vw;
    height: 30vh;
    left: 11.5vw;
    // top: 9.5vh;
    // top: 0;
    top: 9.5vh;
}

.clamor .image {
    // position: absolute;
    // width: 552px;
    // height: 376px;
    // left: 728px;
    // top: 1400px;
    position: relative;
    width: 552px;
    height: 376px;
    left: 15vw;
    // top: 15vh;
    top: 100px;
    display: inline-block;
}

.chainblocks-image-tablet {
    display: none;
}

#technology-intro-text {
    color: white;
    width: 60vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
    font-weight: bold;
    line-height: 2.5vw;
}


@media screen and (max-width: 1100px) {
    .chainblocks-image {
        // display: inline-flex;
        display: inline;
        float: left;
        top: 80px;
    }

    .chainblocks-image img {
        width: 280px;
    }

    .ambal img {
        width: 280px;
    }

    .chainblocks .text {
        top: 0;
        // display: inline-block;
    }

    .clamor .image {
        width: 300px;
    }
    
    .clamor img {
        width: 40vw;
    }

    .hasten svg {
        // width: 477px;
        width: min(447px, 100%)
    }
}


@media screen and (max-width: 780px) {
    .hasten .image {
        position: relative;
        left: 52vw;
        top: 150px;
        width: 48vw;
    }

    .hasten .text {
        left: 10vw;
        top: 0;
    }

    .ambal .text {
        top: 100px;
    }

    #hasten-lines {
        // width: 373px;
        width: min(373px, 100%);
    }

    .ambal img {
        width: 33vw !important;
    }

    .chainblocks .text {
        left: 10vw;
        width: 53vw;
    }

    .sound-game .text {
        width: 40vw;
        // top: 100px;   
    }

    .chainblocks-image {
        display: none;
    }

    .chainblocks-image-tablet {
        display: inline-block;
        position: relative;
        margin-left: 64vw;
        margin-top: 1vh;
    }

    .sound-game-tablet {
        display: inline;
        margin-left: 17vw;
        float: right;
        margin-right: 10vw;
        top: 150px;
    }

    .sound-game-tablet img{
        display: inline;
    }

    .ambal {
        height: 500px;
    }

    .sound-game {
        height: 500px;
    }

    .chainblocks-image-tablet img {
        width: 33vw;
    }

    .clamor .image {
        position: relative;
        width: 50vw;
        height: 40vw;
        left: 50vw;
        top: 3vh;
    }

    .clamor .image img {
        width: 44vw;
    }

    .clamor .text {
        left: 10vw;
        top: 11vh;
        width: 53vw;
    }

    .team-page .star-bg-image {
        height: 540vw !important;
    }

    .grid-bg-image {
        width: 100%;
    }

    .technology-sec h2 {
        width: 62vw;
        // height: fit-content;
        top: 0;
        padding-bottom: 0;
    }

    #technology-intro-text {
        width: 75vw;
        line-height: 3vh;
    }
}

@media screen and (max-width: 600px) {
    .project-sec h2 {
        font-size: 36px;
        margin-top: 100px;
        width: 80vw;
    }

    .sound-game {
        height: 500px !important;
    }

    .ambal {
        height: 500px !important;
    }

    .technology-sec h2 {
        width: 90vw;
        // height: 25vh;
        // top: 23vw;
        top: 0;
        font-weight: bold;
        font-size: 40px;
        line-height: 43px;
        // margin-top: 2vw;
        margin-top: 150px;
    }

    #technology-intro-text {
        margin-top: 12vh;
    }

    #hasten-lines {
        display: none;
    }

    .technology-sec .star-bg-image {
        height: 540vw !important;
    }

    .technology-sec .grid-bg-image {
        height: 540vw !important;
        width: 100%;
        object-fit: cover;
    }

    .chainblocks-image-tablet {
        display: none;
    }

    .clamor .image img {
        display: none;
    }

    .hasten .text {
        left: 5vw;
        width: 90vw;
    }

    .hasten h3 {
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 2vw;
    }

    .hasten {
        height: 55vh;
    }

    .hasten svg {
        width: 200px;
    }

    .chainblocks .text {
        left: 5vw;
        width: 90vw;
    }

    .chainblocks h3 {
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 2vw;
    }

    .chainblocks {
        height: 65vh;
        margin-top: 150px;
    }
    
    .sound-game {
        margin-top: 0;
    }

    .clamor .text {
        left: 5vw;
        width: 90vw;
    }

    .clamor h3 {
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 2vw;
    }

    .clamor {
        // height: 70vh;
        height: fit-content;
        margin-top: 50px;
    }

    #value-prop-grid {
        height: 250vw;
        width: 100vw;
        object-fit: cover;
    }

    .github-btn {
        display: none;
    }

    .github-btn-mobile {
        display: inline;
    }

}

@media screen and (min-width: 1930px) {
    .technology-sec .body {
        // display: inline-block;
        width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    .technology-sec {
        display: inline;
    }

    #technology-intro-text {
        width: 1000px;
        line-height: 30px;
    }

    .hasten .text {
        width: 500px;
        left: 8.5vw;
    }

    .chainblocks .text {
        width: 500px;
        top: 12vh;
    }

    .clamor .text {
        width: 500px;
        left: 6.5vw;
    }

    .clamor .image {
        left: 13vw;
    }
    
    .chainblocks-image {
        left: 7vw;
        width: fit-content;
    }

    .chainblocks .text {
        left: 18.5vw;
    }

    .triangle-bg-image {
        height: fit-content;
    }
}
