.homePageMainPage {
    // padding: 0 45px;
    // max-height: 1000px !important;
    min-height: 100vh;
    flex-direction: column;
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
    font-weight: 900;
    font-size: 16px;
    font-family: 'Sora', sans-serif !important;


    // max-width: 85vw;
    margin-left: auto;
    margin-right: auto;

    background-color: #000;
    // background-image: url('../../asset/figmaElements/background-grid.png');
  }

.hasten {
    height: 600px;
    margin-top: 7vw;
    position: relative;
}


.chainblocks {
    height: 600px;
}

.clamor {
    height: 600px;
}

.hasten .text {
    position: absolute;
    width: 507px;
    height: 376px;
    left: 160px;
    top: 112px;
}

.hasten .image {
    // float: right;
    position: absolute;
    left: 53.93%;
    // right: -18.68%;
    top: 16.25%;
    bottom: 68.17%;
}

.hasten h1{
    font-style: normal;
    font-weight: bold;
    font-size: 40px !important;
    line-height: 56px;
    background-size: 100%;
    width: 150px;
    
    background-image: linear-gradient(90.64deg, #8758FE -12.21%, #B264FE 24.49%, #FF78FF 83.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.chainblocks h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px !important;
    line-height: 56px;
    background-size: 100%;
    // width: 150px;
    
    background: linear-gradient(70.71deg, #8F67E2 -11.82%, #7D89E5 2.93%, #6AACE9 20.96%, #5EC1EB 35.76%, #5AC9EC 45.4%, #51EABD 103.27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.clamor h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 40px !important;
    line-height: 56px;
    background-size: 100%;
    width: 150px;
    background: linear-gradient(85.44deg, #66E7C1 18.52%, #96FF86 101.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.hasten h3 {
    color: white;
    font-size: 24px;
    line-height: 40px;  
}

.hasten p {
    color: white;
    font-size: 16px;
    line-height: 32px;
}


.github-btn {
    // position: absolute;
    // top: 350px;
    margin-top: 10%;
}


.chainblocks-image{
    position: absolute;
    width: 382px;
    height: 364.95px;
    left: 177px;
    top: 735px;
}

.chainblocks h1 {
    color: white;
}

.chainblocks p {
    color: white;
    font-size: 16px;
    line-height: 32px;
}

.chainblocks h3 {
    color: white;
    font-size: 24px;
    line-height: 40px;  
}

.chainblocks .text {
    position: relative;
    width: 544px;
    height: 264px;
    left: 736px;
    // top: 112px;
    margin-top: 3vw;
}


.clamor h1 {
    color: white;
}

.clamor p {
    color: white;
    font-size: 16px;
    line-height: 32px;
}

.clamor h3 {
    color: white;
    font-size: 24px;
    line-height: 40px;  
}

.clamor .text {
    position: relative;
    width: 507px;
    height: 232px;
    left: 160px;
    top: 128px;
}

.clamor .image {
    position: absolute;
    width: 552px;
    height: 376px;
    left: 728px;
    top: 1400px;
}